@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    animation: fadeIn 1s ease-in-out forwards;
}

.fadeOut {
    animation: fadeOut 1s ease-in-out forwards;
}

#app {
    height: 100%;
}